html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.todos-container {
  padding: 12px 24px;
}

.todos {
  padding: 0;
}

.todos > li{
  list-style: none;
  padding: 8px;
}

.todo-form {
  display: inline;
}
